# -------------------------
# Git
# -------------------------
.github/
.git/
.gitignore
.gitattributes

# -------------------------
# Markdown
# -------------------------
*.md

# -------------------------
# Docs（Docker ビルドコンテキストには不要）
# -------------------------
docs/

# -------------------------
# Dev / Tooling
# -------------------------
.vscode/
.air.toml
.lefthook.yaml
.golangci*.yaml
.markdownlint-cli2.yaml
.octocov.yaml

# -------------------------
# OS
# -------------------------
.DS_Store
